aiogram[fastapi]
asyncpg
redis
apscheduler
python-dotenv
aiogram-i18n
Babel
fluent.runtime
SQLAlchemy
psycopg2-binary
matplotlib
pydantic
pydantic-settings
pytest
pytest-asyncio
fakeredis
sentry-sdk
fastapi
uvicorn[standard]
alembic
SQLAlchemy
celery[redis]
